---
interface Props {
  id: string
}

const {id} = Astro.props
---

<div class="checkmark">
  <input id={id} type="checkbox" class="peer hidden" />
  <label
    for={id}
    class="inline-flex cursor-pointer items-center gap-2 rounded-md border-2 border-gray-500 px-2 py-1 font-medium transition duration-300 peer-checked:border-primary-700 peer-checked:bg-primary-200 peer-checked:text-primary-700 peer-checked:dark:border-primary-300 peer-checked:dark:text-white peer-checked:dark:bg-primary-600"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>

    <span class="select-none">Complete</span>
  </label>
</div>
