---
import Link from './Link.astro'

const weeks = await Astro.glob('../pages/week/**/*.md?(x)')

const links: {url: string; text: string; external?: boolean}[] = [
  {
    url: '/',
    text: 'Home',
  },
  ...weeks.map(({url}) => ({
    url,
    text: `Week ${url.split('/week/')[1]}`,
  })),
  {
    url: 'https://sarabander.github.io/sicp/html/index.xhtml',
    text: 'Book',
    external: true,
  },
  {
    url: 'https://github.com/sitek94/sicp',
    text: 'GitHub Repo',
    external: true,
  },
]
---

<nav class="space-y-1" aria-label="Sidebar">
  {
    links.map(({url, text, external}) => (
      <Link url={url} external={external}>
        {text}
      </Link>
    ))
  }
</nav>
