---
import Sidebar from '../components/Sidebar.astro'
import '../styles/global.css'

const pageTitle = 'Home Page'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body
    class="mx-auto max-w-screen-lg selection:bg-primary-600 selection:text-white dark:bg-gray-900"
  >
    <div class="relative">
      <div
        class="fixed inset-y-0 w-[200px] border-r border-gray-200 pt-8 dark:border-gray-700"
      >
        <Sidebar />
      </div>
      <div class="ml-[200px] grow p-8">
        <slot />
      </div>
    </div>
  </body>
</html>
