---
import BaseLayout from './BaseLayout.astro'
const {frontmatter} = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="prose prose-neutral max-w-none dark:prose-invert">
    <slot />
  </div>
</BaseLayout>

<script>
  import {AudioPlayer} from '../components/AudioPlayer'

  import {ProgressTracker} from '../components/ProgressTracker'

  const checkmarkInputs =
    document.querySelectorAll<HTMLInputElement>('.checkmark input')

  for (const input of checkmarkInputs) {
    const id = input.id

    input.checked = ProgressTracker.isCompleted(id)

    input.addEventListener('change', () => {
      const isCompleted = ProgressTracker.toggle(id)
      if (isCompleted) {
        AudioPlayer.play('questCompleted')
      }
    })
  }
</script>
